.navbar {
  width: 100%;
  height: 10%;
  padding-top: 50px;
}

#navbar-elts {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
}

#navbar-elts li {
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  color: gray;
}

#navbar-elts li a {
  text-decoration: none;
  color: inherit;
}

#navbar-elts li a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.description {
  width: 100%;
  height: 20%;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.course-section {
  width: 100%;
}

.semester {
  width: 70%;
  margin: 0 auto;
}

.semester h3 {
  font-family: "Roboto", sans-serif;
}

.semester {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
